<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon!</h2>
            <p>An e-commerce platform for goods with different categories to be sold.</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    Hi! Welcome to my very own e-commerce website. It's a project built to showcase my skills in web development.
                    I am <strong>Deepinder Singh</strong>, a student at <strong>Seneca College</strong>, studying Computer Programming.
                    I have a strong passion for web development and am constantly enhancing my skills. I am currently mastering
                    <strong>React</strong> and <strong>Node.js</strong> to further solidify my knowledge in full-stack development.
                    My goal is to become a proficient full-stack developer, and I am always eager to explore new technologies.
                </p>
                <p>
                    I hope you enjoy exploring my website! If you have any feedback or suggestions, please don't hesitate to reach out.
                </p>
            </article>
            <hr />
            <section>
                <h3>Contact Me</h3>
                <p>
                    You can contact me via email at: 
                    <a href="mailto:deepinder-singh1@myseneca.ca">deepinder-singh1@myseneca.ca</a>
                </p>
            </section>
        </section>
    </div>
</div>